- breadcrumb :payments
%table.datatable.table
  %thead
    %tr
      %th Student
      %th Month
      %th Payment term
      %th Day of payment
  %tbody
    -payments.each do |payment|
      %tr
        %td= payment.student.decorate.full_name
        %td= payment.decorate.payment_month
        %td= payment.payment_term
        %td= payment.day_of_payment


